  </main>
  <footer class="footer">
    <p>© <%= nowYear %> ZeroAnime • Создатель: Эрик Арутюнян (<a class="footer-link" href="/user/er1kos">er1kos</a>)</p>
  </footer>
  <script src="/public/js/main.js"></script>
</body>
</html>
